{% extends 'store/base.html' %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col-lg-6">
            <div>
                <div class="form card">
                    <form class="p-5" action="" id="form">
                        <h3 class="text-center">Fill below information for purchasing</h3>
                        <div class="form-inline mt-4" id="user-info">
                            <h3 class="text-center">User Info</h3>
                            <div class="form-group">
                                <label for="email">Email &nbsp; </label>
                                <input class="form-control" type="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Username &nbsp; </label>
                                <input class="form-control" type="text" name="username" required>
                            </div>
                        </div>
                        <hr>
                        <h3 class="text-center">User Shipping Info</h3>
                        <p class="alert alert-warning">Fill info below, then hit <b>Submit</b> button to open payment button</p>
                        <div class="form">
                            <div class="form-group">
                                <label for="Address">Address </label>
                                <input class="form-control" type="text" name="address" required>
                            </div>
                            <div class="form-group">
                                <label for="city">City </label>
                                <input class="form-control" type="text" name="city" required>
                            </div>
                            <div class="form-group">
                                <label for="state">State </label>
                                <input class="form-control" type="text" name="state" required>
                            </div>
                            <div class="form-group">
                                <label for="zipcode">Zipcode </label>
                                <input class="form-control" type="text" name="zipcode" required>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-sm mb-4" id="form-btn">Submit</button>
                    </form>
                    <div class="box-element hidden" id="payment-info">
                        <small>Payment options</small>
                        <!--<button id="make-payment">Make payment</button>-->
                        <button class="btn btn-outline-primary btn-sm mb-2" id="make-payment">Make payment</button>
                        <div id="paypal-button-container"></div>
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-body" style="background-color: thistle;">
                <h4>Your checkout summary</h4>
                <hr>
                total cost: {{cartcost}}
                <br>
                total product: {{cartitems}}
                <br>
                <hr>
                <h3 class="alert alert-info">Payment Integration for Paypal not integrated, so don't worry.</h3>
            </div>
        </div>
    </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '88.44'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }


    }).render('#paypal-button-container');
</script>

<script type="text/javascript">

    var total = '{{cartcost}}'

    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML='' //if user is authenticated, then no need for username and email
    }

    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('form submitted')
        document.getElementById('form-btn').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        Paymentdata()
    })

    function Paymentdata(){
        console.log('payment button clicked')
        var userFormData = {
            'name': null,
            'email': null,
            'total': total
        }

        var paymentInfo = {
            'address': null,
            'state': null,
            'city': null,
            'zipcode': null,
        }

        paymentInfo.address = form.address.value
        paymentInfo.city = form.city.value
        paymentInfo.state = form.state.value
        paymentInfo.zipcode = form.zipcode.value

        
        var url = '/processorder/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body:JSON.stringify({'form': userFormData, 'shipping': paymentInfo })
        })
        .then((response)=>response.json())
        .then((data)=>{
            console.log('success:', data)
            alert("Shipping completed successfull")
            window.location.href = "{% url 'home' %}"
        })
    }
</script>
{% endblock %}