{% extends 'store/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="center">
            {% if product %}
            <div class="row">
                <div class="col-md-5">
                    <img class="mb-3" src="{{product.imageURL}}" width="" height="" alt=""><br>
                    <span id="span1" class="badge bg-{{product.setlabel}}">{{product.get_category_display}}</span>
                </div>
                <div class="col-md-7 mt-3">
                    {% if product.description %}
                    <p class="y-2"><i>{{product.description}}</i></p>
                    {% endif %}
                    <div class="">
                        <span><h4><strong>{{product.title}}</strong></h4></span>
                        {% if product.discount%}
                        <span class="ml-2">Price <strike>${{product.price}}</strike></span><br>
                        <span class="ml-2">Discount ${{product.discount}}</span><br>
                        {% else%}
                        <span class="ml-2">Price ${{product.price}}</span><br>
                        <span class="ml-2"></span>
                        {% endif %}
                        <button data-product="{{product.id}}" data-action="add" class="btn btn-sm add-btn cart-btn mt-2" id="cartbtn"><span id="span1">Add to Cart</span></button>
                        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary btn-xs addToWish ml-2 mt-2"><i class="far fa-heart" style="font-size: 25px; color: rgb(255, 0, 140) "></i>wish</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div> <hr>
<h3 class="text-center">Recommended for you</h3>
<div class="row">
    {% for p_category in p_category %}
    <div class="col-md-3 mb-1 ">
        <div class="content-section py-3">
            <div class="card-body">
                <div>
                    <a href="{% url 'detail' p_category.id %}">
                        <img class="center" id="img1" src="{{p_category.imageURL}}" height="160" width="180" alt="">
                    </a>
                    <span id="span1" class="badge bg-{{p_category.setlabel}}">{{p_category.get_category_display}}</span>
                </div>
                <div class="py-2">
                    <p><strong>{{p_category.title}}</strong></p>
                    {% if p_category.discount%}
                    <span class="ml-2">Price <strike>${{p_category.price}}</strike></span><br>
                    <span class="ml-2">Discount ${{p_category.discount}}</span>
                    {% else%}
                    <span class="ml-2">Price ${{p_category.price}}</span><br>
                    <span class="ml-2"></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
{% endblock %}